{% extends "base.html" %} {% load static %} {% block main %}

<h2>WebSocket</h2>
<h3>Prueba (canal <code>test</code>)</h3>
<br />
<p id="onopen"></p>
<p id="onmessage">Esperando mensaje...</p>
<div id="message" class="alert alert-light" role="alert"></div>

<script>
  const screenSocket = new WebSocket("{{ websocket|escapejs }}");

  // Registrar la conexión abierta
  screenSocket.onopen = function (event) {
    console.log("Conexión abierta exitosamente.");
    document.getElementById("onopen").innerText =
      "Conexión WebSocket abierta exitosamente.";
  };

  // Registrar mensajes recibidos
  screenSocket.onmessage = function (event) {
    const data = JSON.parse(event.data);
    console.log("Mensaje recibido:", data);
    if (data.message) {
      document.getElementById("onmessage").innerText = "Mensaje recibido";
      document.getElementById("message").innerText = data.message;
    }
  };

  screenSocket.onclose = function (event) {
    console.log("Conexión cerrada:", event);
    document.getElementById("onopen").innerText = "Conexión cerrada.";
    document.getElementById("onmessage").innerText = "";
  };
</script>

{% endblock %}
